:root {
    --header-height: 45px;
    --sidebar-width: 280px;
    --sidebar-bg: #f6f6f6;
    --sidebar-hover-bg: #eeeeee;
    --content-bg: #ffffff;
    --accent-color1: rgb(255, 208, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

*:focus {
    outline: none;
}

button {
    border: none;
    background: none;
    font-size: 1rem;
}

button:hover,
input[type="submit"]:hover {
    cursor: pointer
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: var(--header-height) 1fr;
    grid-template-columns: var(--sidebar-width) 1fr;
}

#header {
    background: linear-gradient(45deg, rgb(208, 57, 3), rgb(78, 21, 0));
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-left: 50px; 
    display: flex;
    align-items: center;
}

#go-to-home {
    font-size: 2rem;
    font-weight: 900;
}

#sidebar {
    background-image: linear-gradient(0.125turn, var(--sidebar-bg), var(--sidebar-hover-bg));
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 50px 0px 50px 15px;
    display: grid;
    grid-template-rows: 80px 250px 1fr;
    clip-path: inset(0px -15px 0px 0px);
}

#content {
    background-color: var(--content-bg);
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}

#sidebar > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#sidebar > ul > li {
    width: 100%;
    line-height: 40px;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#sidebar > ul > li > button {
    height: 100%;
    width: 100%;
    text-align: start;
}

#sidebar li:not(.active-tab):hover {
    background-color: var(--sidebar-hover-bg);
}

li.active-tab {
    background-color: var(--content-bg);
}

#sidebar button > img {
    height: 15px;
}

#content-container {
    height: 100%;
    display: grid;
    grid-template-rows: 150px 1fr;
}

#add-project > #add-project-plus{
    height: 30px;
}

#add-project-plus:hover {
    border-radius: 50%;
    background-color: var(--accent-color1);
}

#add-project-plus:active {
    border-radius: 50%;
    filter: brightness(90%);
}

#add-project-flex {
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content-container > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-header {
    font-size: 1.5rem;
    font-weight: 100;
    color: rgb(98, 98, 98);
}

#add-item-button {
    height: fit-content;
    width: fit-content;
    padding: 6px 10px 6px 10px;
    border-radius: 30px;
    background-color: var(--accent-color1);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    font-size: 0.9rem;
    font-weight: 600;
}

#project-body {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

#project-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#project-grid {
    background-color: var(--sidebar-bg);
    width: max(500px, 60vw);
    height: max(200px, 50vh);
}

#add-project-modal,
#add-task-modal {
    position: relative;
    margin: 0 auto;
    padding: 15px;
    border-radius: 15px;    
    border: none;
    background-color: var(--sidebar-bg);
}

#add-project-modal {
    width: 350px;
    height: 120px;
    top: calc(50% - 60px);
}

#add-task-modal {
    width: 500px;
    height: 300px;
    top: calc(50% - 150px);
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    filter: blur(2px);
}

#add-project-modal > form {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#project-modal-row1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#project-modal-row2 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    input {
        height: fit-content;   
        border: none;
        border-radius: 10px;
    }

    input[type="text"] {
        height: 25px;
        padding: 10px;
    }

    input[type="submit"] {
        border-radius: 20px;
        background-color: rgb(203, 203, 203);
        padding: 5px 10px 5px 10px;
    }
}
#task-modal-row1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    label {
        justify-self: center;
    }
}

#add-task-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    input[type="text"] {
        line-height: 1.6rem;
        outline: none;
        border:none;
        border-radius: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    input[type="submit"] {
        font-size: 0.9rem;
        font-weight: 700;
        width: 100px;
        grid-column: 1 / 3;
        margin: 0 auto;
        background-color: var(--accent-color1);
        border: none;
        border-radius: 30px;
        padding: 10px;
    }
}

#task-modal-row1 {
    grid-column: 1 / 3;
}

#close-task-modal {
    justify-self:self-start;

}

.close-modal {
    height: 20px; 
    width: 20px;
}

.close-modal:hover {
    border-radius: 50%;
    background-color: rgb(209, 209, 209);
}

.close-modal:active {
    background-color: rgb(191, 191, 191);
}